

.download,
.warranty,
.care,
.cashback,
.clients {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.download__wrapper,
.warranty__wrapper,
.care__wrapper,
.cashback__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 110px;
}

.warranty__wrapper {
  flex-direction: row-reverse;
}

.cashback__wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.download__text-block,
.warranty__text-block,
.care__text-block,
.cashback__text-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.cashback__text-block {
  width: 100%;
  align-items: center;
}

.clients__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 43px; 
}

.clients__item img {
  width: 100%;
}

.download__title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: normal;
}

.warranty__title,
.care__title,
.cashback__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}

.download__copy,
.warranty__copy,
.care__copy,
.cashback__copy {
  max-width: 31.25rem;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 1.875rem;
  text-align: left;
}

.cashback__copy {
  text-align: center;
}

.download__links {
  display: flex;
  gap: 1.25rem;
}

.download__image-block,
.warranty__image-block,
.care__image-block {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.warranty__image-block {
  justify-content: flex-start;
}

.download__image-block img,
.warranty__image-block img,
.care__image-block img {
  max-width: 100%;
  height: auto;
  border-radius: 1.25rem;
  border: .0625rem solid #AAA;
}

.cashback__btn {
  max-width: max-content;
  padding: 15px 39px;
  border-radius: 30px;
  border: 1px solid #AAA;
  font-size: 18px;
  line-height: normal;
  cursor: pointer;
  background:var(--color-light) ;
}

.dark .cashback__btn {
  background: var(--color-dark);
  color: var(--color-text-dark);
  border-color: var(--color-text-dark);
}

@media (max-width: 1152px) {

  .download__wrapper,
  .warranty__wrapper,
  .care__wrapper {
    gap: 40px;
  }

  .cashback__wrapper {
    gap: 20px;
  }

  .download__text-block,
  .warranty__text-block,
  .care__text-block,
  .cashback__text-block {
    gap: 10px;
  }

  .download__title {
    font-size: 2.625rem;
  }

  .warranty__title,
  .care__title,
  .cashback__title {
    font-size: 2.125rem;
  }

  .download__copy,
  .warranty__copy,
  .care__copy {
    max-width: 27.8125rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  .cashback__copy {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

@media (max-width: 920px) {

  .download__wrapper,
  .warranty__wrapper,
  .care__wrapper {
    gap: 30px;
  }

  .download__title {
    font-size: 2.25rem;
  }

  .warranty__title,
  .care__title,
  .cashback__title {
    font-size: 1.875rem;
  }

  .download__copy,
  .warranty__copy,
  .care__copy {
    max-width: 20.625rem;
    font-size: .875rem;
    line-height: 1.3125rem;
  }

  .cashback__copy {
    max-width: 28.75rem;
    font-size: .875rem;
    line-height: 1.3125rem;
  }

  .cashback__btn {
    font-size: 1rem;
  }

}

@media (max-width: 720px) {

  .download__wrapper,
  .warranty__wrapper,
  .care__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .download__text-block,
  .warranty__text-block,
  .care__text-block {
    width: 100%;
    align-items: center;
  }

  .download__title {
    font-size: 1.875rem;
    max-width: 20.625rem;
  }

  .warranty__title,
  .care__title,
  .cashback__title {
    font-size: 1.625rem;
  }

  .download__image-block,
  .warranty__image-block,
  .care__image-block {
    width: 100%;
    justify-content: center;

  }

  .clients__item {
    max-width: 9.375rem;
  }
}

@media (max-width: 480px) {
  .clients__item {
    max-width: 8.125rem;
  }
}